Package: pkg-abort-notice
Version: 1
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Description: test package - package that causes confusing error messages
 new-preinst abort causes error
