Package: pkg-triggers
Version: 0.0-1
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Multi-Arch: foreign
Architecture: other
Description: test package - providing triggers

