Package: pkg-replaces
Version: 0.0-1
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Replaces: pkg-divert
Description: test package - replaces to disappear

