Package: pkg-depends-le
Version: 0
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Depends: pkg-virtual (<= 10)
Description: test package - package depending on a virtual package
