# EditorConfig (https://editorconfig.org/)

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# Makefile
[{Makefile,*.{mk,am}}]
indent_style = tab

# Shell
[*.{sh,ac,at,m4}]
indent_style = space
indent_size = 2

# Perl
[*.{pl,pm,t}]
indent_style = space
indent_size = 4

# C/C++
[*.{c,cc,h}]
indent_style = tab
indent_size = 8
