# Inherited ignores
*.a
*.o
*.so
*.gcno
*.gcda
*.gcov
*.lcov
*.log
*.trs
.*.swp
.deps/
Makefile
Makefile.in

# Top dir ignores
autom4te.cache/
build-aux/
build-tree/
ABOUT-NLS
ChangeLog
INSTALL
configure
config.*
aclocal.m4
stamp-h1
