# Spell names properly
Raphaël Hertzog <hertzog@debian.org>
Nicolas François <nekral-guest@users.alioth.debian.org>
Javier Fernández-Sanguino Peña <jfs@debian.org> <jfs@javifsp.no-ip.org>
Javier Fernández-Sanguino Peña <jfs@debian.org>
Eddy Petrișor <eddyp-guest@users.alioth.debian.org>
Jiří Paleček <jpalecek@web.de>
# Use full names
Felipe E. F. de Castro <fefcas@gmail.com>
Marcos Alvarez Costales <marcos.alvarez.costales@gmail.com>
Kenshi Muto <kmuto@debian.org>
Zhou Mo <cdluminate@gmail.com>
# Handle alias disparity
Felipe Augusto van de Wiel <faw@debian.org>
Daniel Nylander <po@danielnylander.se> <yeager-guest@users.alioth.debian.org>
Bart Cornelis <cobaco@skolelinux.no> <cobaco-guest@users.alioth.debian.org>
Bart Cornelis <cobaco@skolelinux.no>
Andrei Popescu <andreimpopescu@gmail.com>
Christian Perrier <bubulle@debian.org>
# Name changes
Peter Krefting <peter@softwolves.pp.se> <peter@svarten.intern.softwolves.pp.se>
Peter Krefting <peter@softwolves.pp.se>
Peter Krefting <peterk@debian.org>
# Use real mail addresses
Miguel Figueiredo <elmig@debianpt.org> <elmig@toshiba.home>
<elmig@debianpt.org> <elmig@dv2585ep.(none)>
<elmig@debianpt.org> <elmig@eeepc.debian>
<robert@debian.org> <robert@vox.robbo.home>
