Package: pkg-a
Version: 0
Section: test
Priority: extra
Maintainer: Guillem Jover <guillem@debian.org>
Architecture: all
Conflicts: pkg-v
Provides: pkg-v
Replaces: pkg-v
Description: test package - conflicting virtual

