Package: pkg-conff-move
Version: 1
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Replaces: pkg-conff (<< 1)
Description: test package - takeover a conffile
