Package: pkg-depend
Version: 0.0-1
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Depends: pkg-disappear
Description: test package - depend on disappearing package

