Package: pkg-a
Version: 0
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: i386
Multi-Arch: foreign
Provides: pkg-v:armel
Description: test package - provide an arch-qualified virtual package

