Tests: test-not-root
Depends: build-essential, autoconf, pkg-config, file
Restrictions: superficial skippable

Tests: test-root
Depends: build-essential, autoconf, pkg-config, file
Restrictions: superficial needs-root breaks-testbed
