Package: pkg-trig-cmd
Version: 0.0-1
Section: test
Priority: extra
Maintainer: Raphaël Hertzog <hertzog@debian.org>
Architecture: all
Description: test package - running dpkg-trigger in maintainer scripts

