Package: pkg-conff-c
Version: 0
Section: test
Priority: extra
Maintainer: Guillem Jover <guillem@debian.org>
Architecture: all
Conflicts: pkg-conff-a
Description: test package - conflicting conffile

