Package: pkg-bogus-blank
Version: 0.0-1
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Description: test package - bogus control file w/ blank lines in fields
 This is an invalid description, containing lines with one space:
 
 or two:
  
 or even more:
     
 Instead of the correct blank line using a dot as delimiter:
 .
 Or valid lines with multiple spaces with content:
     line 1
     line 2
