Package: pkg-priority
Version: 0.0-1
Section: test
Priority: value not known
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Description: test package - unknown priority value
