Package: pkg-b
Version: 0
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: amd64
Depends: pkg-v:mips
Description: test package - unsatisfied virtual

