Package: pkg-bogus-fieldname-empty
Version: 0.0-1
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
: value
Description: test package - bogus control file w/ empty field name
