Package: pkg-conff-noabs
Version: 0
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Description: test package - conffile with a relative pathname
