Package: pkg-conff-takeover
Version: 1
Section: test
Priority: extra
Maintainer: Guillem Jover <guillem@debian.org>
Architecture: all
Replaces: pkg-conff-original
Description: test package - conffile replaces takeover

