Package: pkg-version
Version: 3
Section: test
Priority: extra
Maintainer: Guillem Jover <guillem@debian.org>
Architecture: all
Description: test package - real package to depend on a specific version
