Package: pkg-provides
Version: 1
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Provides: pkg-virtual (= 10)
Description: test package - package providing a versioned virtual package
