Package: pkg-a
Version: 0
Section: test
Priority: extra
Maintainer: Guillem Jover <guillem@debian.org>
Architecture: all
Conflicts: pkg-iface
Replaces: pkg-iface
Provides: pkg-iface
Description: test package - package providing an interface
