# dpkg configuration file
#
# This file can contain system-wide default options for dpkg.
# User specific configuration files override options in this file.
#
# All long command-line options are allowed without leading hyphens. Values
# can be specified by putting them after the option, separated by whitespace
# and/or an '=' sign.
#

# Do not enable debsig-verify by default; since the distribution is not using
# embedded signatures, debsig-verify would reject all packages.
no-debsig

# Log status changes and actions to a file.
log /var/log/dpkg.log
