# dpkg configuration file
#
# This file can contain default options for dpkg. All commandline
# options are allowed. Values can be specific by putting them after
# the option, seperated by whitespace and/or an `=' sign.
#
no-debsig
