# dselect configuration file
#
# This file can contain default options for dselect. All commandline
# options are allowed. Values can be specific by putting them after
# the option, seperated by whitespace and/or an `=' sign.
#

