# dselect configuration file
#
# This file can contain system-wide default options for dselect.
# User specific configuration files override options in this file.
#
# All long command-line options are allowed without leading hyphens. Values
# can be specified by putting them after the option, separated by whitespace
# and/or an '=' sign.
#
