Package: pkg-depends
Version: 1
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Depends: pkg-files
Description: test package - package to be configured
