Package: pkg-dir-shared-notempty
Version: 0
Section: test
Priority: extra
Maintainer: Guillem Jover <guillem@debian.org>
Architecture: all
Description: test package - shared directory with a config file
