Package: pkg-predepends-le
Version: 0
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Pre-Depends: pkg-virtual (<= 10)
Description: test package - package pre-depending on a virtual package
