Package: pkg-provides
Version: 15
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Provides: pkg-provides
Description: test package - package providing a virtual package
