Package: pkg-depends
Version: 0
Section: test
Priority: extra
Maintainer: Guillem Jover <guillem@debian.org>
Architecture: all
Depends: pkg-real
Description: test package - package depending on a real package
