Package: pkg-trigger
Version: 0
Section: test
Priority: extra
Maintainer: Raphaël Hertzog <hertzog@debian.org>
Architecture: all
Description: test package - interested in a file trigger on /trigger
 Contains a file that will activate a trigger.
