Package: pkg-files
Version: 1
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Depends: pkg-depends-b
Description: test package - provides a file under /test/trigger/
