Package: pkg-dir-takeover
Version: 0
Section: test
Priority: extra
Maintainer: Guillem Jover <guillem@debian.org>
Architecture: all
Replaces: pkg-dir-original
Description: test package - dir replaces takeover
