Package: pkg-file-takeover
Version: 0
Section: test
Priority: extra
Maintainer: Guillem Jover <guillem@debian.org>
Architecture: all
Replaces: pkg-file-original
Description: test package - file replaces takeover

