Package: pkg-predepends
Version: 0
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Pre-Depends: pkg-provides
Description: test package - package pre-depending on a virtual package
