Package: pkg-normal
Version: 0.0-1
Section: test
Priority: extra
Maintainer: Guillem Jover <guillem@debian.org>
Architecture: all
Replaces: pkg-disappear
Provides: pkg-disappear
Description: test package - normal

