Package: pkg-normal
Version: 0.0-1
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Replaces: pkg-disappear
Provides: pkg-disappear
Description: test package - normal

