Package: pkg-file-takeover
Version: 1
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Replaces: pkg-file-original (<< 1)
Description: test package - file replaces takeover
