Package: pkg-depends-lt
Version: 0
Section: test
Priority: extra
Maintainer: Guillem Jover <guillem@debian.org>
Architecture: all
Depends: pkg-version (<< 2)
Description: test package - package depending on an earlier than version
