Package: pkg-trigger
Version: 0
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Depends: pkg-depends
Description: test package - interested in files on /test/trigger/
