Package: pkg-conff-forcenew
Version: 1
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Description: test package - force-confnew behaviour
 Debbug: 391818

