Package: pkg-dir-shared-1
Version: 0
Section: test
Priority: extra
Maintainer: Ondřej Surý <ondrej@debian.org>
Architecture: all
Depends: pkg-dir-shared-0
Description: test package - shared directory with configuration file
