Source: pkg-builddep-substvars
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Build-Depends: foo (= ${dpkg:Version})
Homepage: http://example.org/
Vcs-Browser: http://git.example.org/
Vcs-Git: git://git.example.org/git/foo/
Standards-Version: ${dpkg:Version}

Package: pkg-builddep-substvars
Architecture: all
Description: test
 test substvars in Build-Depends. This should not happen.

