Source: pkg-source
Section: debug
Priority: optional
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Uploaders: Dpkg Tester <tester@dpkg.org>
Standards-Version: 3.9.8

Package: pkg-binary-all
Architecture: all
Description: test package
 This is a test package for debugging purposes, with a fake description
 to cheat linters into believing this contains some actual valuable text
 that the reader can make some sense of.
 .
 Architecture independent binary package.

Package: pkg-binary-any
Architecture: any
Description: test package
 This is a test package for debugging purposes, with a fake description
 to cheat linters into believing this contains some actual valuable text
 that the reader can make some sense of.
 .
 Architecture dependent binary package.
