Package: pkg-provides
Version: 0
Section: test
Priority: extra
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Architecture: all
Provides: pkg-virtual
Description: test package - package providing an virtual package
